.container{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
}
#central{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0px;
    background-image: url(../img/background-300x300__blue.jpg);
    background-repeat: repeat;
    background-color: #424242;
}
#centralContainer{
    margin: auto;
    width: 700px;
    height: 100%;
    /*background-color: #b7b8a7;*/
    background-color: #8b91b8;
    background-image: url(../img/back_noise.png);
    background-repeat: repeat;
    /*background-color: #6e6e6e;*/
    box-shadow: 0 40px 0 rgba(20, 20, 20, 0.83);
}

.logo{
    position: relative;
    margin: auto;
    width: 700px;
    height: 150px;
    background-image: url(../img/back_noise.png);
    background-repeat: repeat;
    background-color: #404040;
    box-shadow: 0 0 40px rgba(34, 34, 34, 0.88);
}
.logoinside{
    position: relative;
    margin: auto;
    width: 700px;
    height: 150px;
    background-image: url(../img/Logo.gif);
    background-repeat: no-repeat;
}
.bottomImage{
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 700px;
    height: 60%;
    background-image: url(../img/Background---friends.png);
    background-repeat: no-repeat;
    /*background-color: #6e6e6e;*/
    background-size: auto 100%;
    background-position: bottom;
}
.buttonContainer{
    display: inline-block;
    width: 700px;
    height: 150px;
}
#enterConfirm{
    border-color: rgba(255, 170, 194, 0.76);
    border-radius: 10px;
    background-color: rgb(198, 59, 113);
}
#enter{
    border-color: rgba(255, 170, 194, 0.76);
    border-radius: 10px;
    background-color: rgb(163, 27, 122);
}
#registration{
    border-color: rgba(255, 170, 194, 0.76);
    border-radius: 10px;
    background-color: rgb(128, 18, 163);
}

.buttonStart {
    z-index: 500;
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 340px;
    height: 60px;
    font-size: 17pt;
    font-family: sans-serif;
    color: white;
    line-height: 60px;
    text-align: center;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(50, 163, 37);

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

.buttonStart:hover, #enterConfirm:hover, #enter:hover, #registration:hover {
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-top: 45px;
    width: 360px;
    height: 70px;
    font-size: 19pt;
    font-family: sans-serif;
    color: white;
    line-height: 70px;
    text-align: center;
    background-color: orange;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

/*FORM FOR AJAX DROP*/
.cabinetFormText{
    position: absolute;
    top: 151px;
    display: table;
    width: 700px;
    height: 250px;
    font-size: 12pt;
    font-family: sans-serif;
}
.formText{
    z-index: 700;
    width: 290px;
    height: 50px;
    display: table;
    margin: auto;
    margin-top: 30px;
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(183, 184, 181);

}
.formText:hover{
    z-index: 700;
    border-color: rgb(163, 0, 91);

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;

}
#submit{
    z-index: 500;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 290px;
    height: 50px;
    font-size: 14pt;
    font-family: sans-serif;
    color: white;
    line-height: 50px;
    text-align: center;
    background-color: rgb(163, 0, 91);
    border: 2px solid;
    border-color: rgb(255, 123, 175);
    border-radius: 10px;

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
#submit:hover{
    z-index: 500;
    cursor: pointer;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 25px;
    width: 310px;
    height: 60px;
    font-size: 16pt;
    font-family: sans-serif;
    color: white;
    line-height: 60px;
    text-align: center;
    background-color: orange;
    border: 2px solid;
    border-radius: 10px;

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
.responce{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 15px;
    font-size: 12pt;
    font-family: sans-serif;
    color: limegreen;
    text-align: center;
}
.responceFail{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 15px;
    font-size: 12pt;
    font-family: sans-serif;
    color: red;
    text-align: center;
}



