.container{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
}
#central{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0px;
    background-image: url(../img/background-300x300.jpg);
    background-repeat: repeat;
    background-color: #424242;
}
#centralContainer{
    margin: auto;
    width: 700px;
    height: 100%;
    background-color: #6e6e6e;
    box-shadow: 0 0 25px rgba(24, 24, 24, 0.78);
}
.logo{
    position: relative;
    margin: auto;
    width: 700px;
    height: 150px;
    background-color: #242424;
}
.buttonContainer{
    display: inline-block;
    width: 700px;
    height: 150px;
}

.buttonStart {
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 340px;
    height: 60px;
    font-size: 17pt;
    font-family: sans-serif;
    color: white;
    line-height: 60px;
    text-align: center;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(50, 163, 37);

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

.buttonStart:hover {
    position: relative;
    margin: auto;
    margin-top: 45px;
    width: 360px;
    height: 70px;
    font-size: 19pt;
    font-family: sans-serif;
    color: rgb(50, 163, 37);
    line-height: 70px;
    text-align: center;
    background-color: white;
    border: 2px solid;
    border-color: rgb(146, 255, 142);
    border-radius: 10px;

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

/*FORM FOR AJAX DROP*/
.cabinetFormText{
    position: absolute;
    top: 151px;
    display: table;
    width: 700px;
    height: 250px;
    font-size: 12pt;
    font-family: sans-serif;
}
.formText{
    width: 290px;
    height: 50px;
    display: table;
    margin: auto;
    margin-top: 30px;
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(183, 184, 181);

}
.formText:hover{
    border-color: rgb(163, 0, 91);

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;

}
.buttonForm{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 290px;
    height: 50px;
    font-size: 14pt;
    font-family: sans-serif;
    color: white;
    line-height: 50px;
    text-align: center;
    background-color: rgb(163, 0, 91);
    border: 2px solid;
    border-color: rgb(255, 123, 175);
    border-radius: 10px;

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
.buttonForm:hover{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 25px;
    width: 310px;
    height: 60px;
    font-size: 16pt;
    font-family: sans-serif;
    color: white;
    line-height: 60px;
    text-align: center;
    background-color: orange;
    border: 2px solid;
    border-radius: 10px;

    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
.responce{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 15px;
    font-size: 12pt;
    font-family: sans-serif;
    color: limegreen;
    text-align: center;
}
.responceFail{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 15px;
    font-size: 12pt;
    font-family: sans-serif;
    color: red;
    text-align: center;
}


